<configuration>
  <!-- Appenders -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>[%logger{50}]: %message%n%xException{10}</pattern>
    </encoder>
  </appender>

  <!-- Loggers -->
  <logger name="net.schmizz.sshj" level="DEBUG" />
  <logger name="com.decodified.scala-ssh" level="DEBUG" />

  <root level="WARN">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>